* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px;
  color: #333;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

form input:nth-child(1) {
  width: 70%;
}

form input:nth-child(2) {
  width: 30%;
}

input {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #621CAB;
  color: #333;
  font-size: 1.1rem;
  outline: none;
  padding: 12px 15px;
  transition: border 0.3s;
}

input:focus {
  border-color: #9c27b0;
}

.container-list-categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.item-list-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button:hover {
  background-color: #1570d2;
}

.remove-button {
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}

.remove-button:hover {
  color: #ff4d4d;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

h3 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #3f51b5;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: hidden;
  width: calc(25% - 20px);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-2px);
}

.card p {
  background-color: transparent;
  flex: 1;
  font-size: 1rem; /* Ajustado a un tamaño más pequeño */
  margin-top: 5px;
  padding: 10px 20px;
  text-align: center;
  color: #333;
}

.card img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 900px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
  }

  form {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: stretch; /* Estirar los elementos */
  }

  form input:nth-child(1),
  form input:nth-child(2) {
    width: 100%; /* Hacer que ambos inputs ocupen el 100% */
  }
}